{% extends 'base.html.twig' %}
{% block meta_description %} Erreur - Page non disponible {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/erreur.css') }}">
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
{% endblock %}

{% block title %}Erreur - Page non trouvée{% endblock %}

{% block body %}

    <section class="erreur">
        <h1>Oups... Il semblerait que cette page n'existe pas !</h1><br>

        <a href="{{ path('app_home') }}">Retourner à l'accueil</a>

        <img src="{{ asset('img/erreur.png') }}" alt="Image jeune biche égarée">
    </section>

{% endblock %}
