{% extends 'base.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/mentions.css') }}">
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
{% endblock %}

{% block title %}Conditions Générales d'Utilisation{% endblock %}

{% block body %}

    <section class="conditions-generales">

        <h1>Conditions Générales d'Utilisation - Au Paradis d'Eve</h1>
        <p>

Acceptation des Conditions
En utilisant ce site web, vous acceptez sans réserve ces Conditions Générales d'Utilisation. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser le site.

Objet du Site
Ce site est destiné à fournir des informations sur nos chambres d'hôtes, à faciliter les réservations et à offrir des services connexes.

Réservations et Paiements
Les réservations sont soumises à disponibilité. Les tarifs, les conditions de paiement et les politiques d'annulation sont clairement spécifiés lors du processus de réservation.

Utilisation du Site
Vous vous engagez à utiliser le site de manière légale et conforme à ces conditions. Toute utilisation abusive ou frauduleuse du site est strictement interdite.

Propriété Intellectuelle
Tout le contenu présent sur le site, y compris les textes, images, logos, etc., est protégé par des droits de propriété intellectuelle et ne peut être reproduit sans autorisation.

Confidentialité
Les informations personnelles que vous fournissez lors de la réservation sont traitées conformément à notre politique de confidentialité. Consultez notre politique de confidentialité pour plus d'informations.

Responsabilités
Nous ne sommes pas responsables des dommages directs ou indirects résultant de l'utilisation du site ou de l'incapacité d'utiliser le site.

Modification des Conditions
Nous nous réservons le droit de modifier ces Conditions Générales d'Utilisation à tout moment. Les modifications entrent en vigueur dès leur publication sur le site.

Droit Applicable et Juridiction
Ces conditions sont régies par la loi en vigueur dans votre région. Tout litige sera soumis à la juridiction compétente.

En acceptant ces Conditions Générales d'Utilisation, vous reconnaissez avoir lu, compris et accepté toutes les dispositions énoncées.
        </p>
        <p><strong>MODIFICATION ET ANNULATION DE RÉSERVATION :</strong></p>

<p>Toute modification et annulation partielle ou totale de réservation par le client doit faire l’objet d’une demande directement auprès de notre établissement, soit par courrier, soit par email. Cette demande de modification ou d’annulation ne sera effective que lorsque <strong>Au Paradis d'Eve</strong> aura confirmé son acceptation par courrier ou par email.</p>

<p>Si l’annulation intervient plus de 30 jours avant la date d’arrivée, le montant versé lors de la réservation sera remboursé.</p>

<p>Si l’annulation intervient moins de 20jours avant la date d’arrivée,  30 %  du total de la réservation est conservé.</p>

<p>Si l’annulation intervient moins de 7 jours avant la date d’arrivée, ou en cas de non-présentation, ou si le client écourte son séjour, <strong>Au Paradis d'Eve</strong> se réserve le droit de facturer et de réclamer ou prélever le montant total du séjour prévu, y compris la réservation de prestations annexes commandées (table d’hôtes,…).</p>

<p>Si le client ne se manifeste pas de quelque manière que ce soit avant 20h le jour prévu de début de séjour, le présent contrat devient nul et le propriétaire peut disposer de ses chambres d’hôtes. L'acompte reste acquis au propriétaire qui se réserve le droit de réclamer le solde du prix de l'hébergement.</p>

<p>En cas de séjour écourté, le prix correspondant au coût de l'hébergement reste intégralement acquis au propriétaire. Les prestations supplémentaires non consommées seront remboursées.</p>

<p>Si avant le début du séjour <strong>Au Paradis d'Eve</strong> se voit dans l’obligation d’annuler la réservation, il doit informer son client soit par courrier, soit par email. Le client, sans préjuger des recours en réparation des dommages éventuellement subis, sera remboursé immédiatement des sommes déjà versées.</p>

<p>Nous attirons votre attention sur le fait qu’aucune assurance annulation n’est incluse dans nos tarifs. Il est par conséquent vivement recommandé d’en souscrire une.</p>

        <a href="{{ path('app_home') }}">Retour à l'accueil</a>
    </section>
{% endblock %}
