{% extends 'base.html.twig' %}
{% block meta_description %} Mentions légales {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/mentions.css') }}">
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
{% endblock %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}

    <section class="mentions-legales">
        <h1>Mentions Légales</h1>

        <h2>1. Informations sur le Propriétaire du Site :</h2>
        <p>Nom du propriétaire : [Nom]</p>
        <p>Adresse postale : [Adresse]</p>
        <p>Numéro de téléphone : [Numéro de téléphone]</p>
        <p>Adresse e-mail : [Adresse e-mail]</p>
        <p>Numéro d'identification fiscale : [Numéro d'identification fiscale]</p>
    
        <h2>2. Hébergeur du Site :</h2>
        <p>Nom de l'hébergeur : [Nom de l'hébergeur]</p>
        <p>Raison sociale de l'hébergeur : [Raison sociale de l'hébergeur]</p>
        <p>Adresse de l'hébergeur : [Adresse de l'hébergeur]</p>
        <p>Numéro de téléphone de l'hébergeur : [Numéro de téléphone de l'hébergeur]</p>
        </p>
    </section>

    <section id="politique-confidentialite">
        <h2>Politique de Confidentialité</h2>
        <p>
            Cette politique de confidentialité régit la manière dont [Nom du propriétaire] collecte, utilise, conserve et divulgue les informations recueillies auprès des utilisateurs (ci-après dénommés "Utilisateurs") du site web [Nom du site] (ci-après dénommé "Site").
        </p>
    </section>

    <section  id="accessibilite">
        <h3>Au Paradis d'Eve - Déclaration d'Accessibilité</h3>

        <p>Au Paradis d'Eve s’engage à rendre son site internet, intranet, extranet et son application mobile accessibles conformément à l’article 47 de la loi n° 2005-102 du 11 février 2005.</p>
    
        <p>À cette fin, il met en œuvre la stratégie et les actions suivantes <a href="[lien_vers_schema_pluriannuel]">lien vers le schéma pluriannuel</a> et <a href="[lien_vers_plan_action]">lien vers le plan d’action de l’année en cours</a> incluant le bilan des actions réalisées l’année précédente.</p>
    
        <p>Cette déclaration d’accessibilité s’applique à <em>Au Paradis d'Eve</em>.</p>
    </section>
    
    
        
        <a href="{{ path('app_home') }}">Retour à l'accueil</a>
    </section>
{% endblock %}
