@media (device-height: 932px) and (device-width: 430px), (device-width: 932px) and (device-height: 430px) {
    .home-page{
        position: relative;
        height: 100vh;
        box-shadow: 0px 3px 9px 1px rgba(29, 28, 28, 0.356);
    }
    
    .parallax {
        min-height: 100vh;
        padding-top: 60px;
        background-image: linear-gradient(rgba(52, 52, 52, 0.577), rgba(23, 23, 23, 0.367)), url("../../img/Terasse3.jpg");
        /* background: linear-gradient(rgba(152, 152, 152, 0.471), rgba(46, 46, 46, 0.367)), url('../img/contact.jpg')  no-repeat center/cover; */

/* effet parallax */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .edit-home-text{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        padding: 50px;
    }


    /* .landingPage-img-container{
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .landingPage-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 27%;
    } */

    .description p{
        padding: 0 30px 0 30px;
    }

    .home-page .description{
        z-index: 1;
        position: absolute;
        text-align: center;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 20%;
        color: var(--white);
        width: 100%;
    }

    .home-page .description a{
        color: var(--hover);
    }

    .home-page .description h1{
        font-family: "Licorice";
        font-size: 55px;
    }
    
    /* APERCU DES CHAMBRES SUR LA PAGE D'ACCUEIL VERSION MOBILE */
    .apercu-chambres{
        min-height: 100vh;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .titre-apercu-chambres{
        color: var(--dark-font);
        text-decoration: none;
        padding: 30px;
    }

    .details-apercu-chambre{
        display: flex;
    }

    .details-apercu-chambre a{
        text-decoration: none;
        color: var(--dark-font);
    }

    .carte-chambre{
        min-width: 80%;
        max-height: 300px;
        box-shadow: 0px 3px 9px 1px rgba(29, 28, 28, 0.356);
        width: 80%;
        border-radius: 5px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
    } 
    .carte-chambre img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    
    .prix-chambre-par-nuit{
        width: 100%;
        text-align: left;
    }
    
    /* SECTION PDB */
    .pdb{
        position: relative;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* box-shadow: 0px 3px 9px 1px rgba(29, 28, 28, 0.356); */
    }

    .pdb img{
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
        margin-bottom: 30px;
    }

    .pdb h2{
        text-align: center;
        color : var(--white);
        position: absolute;
        z-index: 1;
        top: 170px;
        left: 30px;
        font-size: 70px;
    }

    .pdb p, .mascotte p{
        text-align: justify;
        /* background-color: red; */
        padding-left: 40px;
        padding-right: 40px;
        line-height: 1.8em;
    }
    /* SECTION CONTACT */
    .contact{
        width: 100%;
        /* min-height: 100vh; */
        height: auto;
        padding: 30px;
        background: linear-gradient(rgba(152, 152, 152, 0.471), rgba(46, 46, 46, 0.367)), url('../img/contact.jpg')  no-repeat center/cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0px 9px 15px -3px rgba(0, 0, 0, 0.419);
        /* box-shadow: 0px -10px 10px -10px rgba(0, 0, 0, 0.45); */
        /* box-shadow: 0px 3px 9px 1px rgba(29, 28, 28, 0.356); */
    }

    .infos-contact, .form-contact{
        width: 90%;
        padding: 20px;
        margin-bottom: 30px;
        background-color: #ffffffd8;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: left;
    }

    .form-contact{
        display: flex;
        flex-direction: column;
    }

    .form-contact input, .form-contact textarea{
        padding: 5px;
        border-radius: 3px;
    }

    .infos-contact span{
        width: 5px;
        height: 5px;
        margin-right: 10px;
    }

    .contact-row{
        display: flex;
        align-items:start;
        justify-content: left;
        padding: 10px;
        gap: 20px;
    }

    /* SECTION MASCOTTE */
    .mascotte{
        background: linear-gradient(rgba(255, 255, 255, 0.679), rgba(255, 255, 255, 0.915)), url('../img/flowers-bg.jpg');
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0px 9px 15px -3px rgba(0, 0, 0, 0.419);
        /* box-shadow: 0px 3px 9px 1px rgba(29, 28, 28, 0.356); */
    }

    .mascotte h3{
        font-family: 'Licorice';
        font-size: 50px;
        text-align: center;
    }

    .mascotte img{
        width: 350px;
        height: 350px;
        object-fit: cover;
        margin-bottom: 30px;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }


    /* LOGIN/REGISTRATION*/
    .login, .registration{
        width: 100%;
        min-height: 80vh;
        padding: 50px;
        position: absolute;
        top: 50px;
    }

    .submit-button{
        margin-top: 20px;
        padding: 10px;
        border-radius: 5px;
    }

    .login a, .registration a{
        color: var(--hover);
    }

    #scrollToTopBtn{
        border-radius: 100%;
        padding: 10px 15px 10px 15px;
        background-color: var(--white);
    }
}