/* NORME : Taille mobile vertical */
.home-page{
    position: relative;
    height: 100vh;
    box-shadow: 0px 3px 9px 1px rgba(29, 28, 28, 0.356);
}   
.parallax {
    min-height: 100vh;
    padding-top: 60px;
    background-image: linear-gradient(rgba(52, 52, 52, 0.577), rgba(23, 23, 23, 0.367)), url("../../img/Terasse3.jpg");
/* effet parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
}
.edit-home-text{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    padding: 50px;
}
.description p{
    padding: 0 30px 0 30px;
}
.home-page .description{
    z-index: 1;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 20%;
    color: var(--white);
    width: 100%;
}
.home-page .description a{
    color: var(--hover);
}
    
/* APERCU DES CHAMBRES SUR LA PAGE D'ACCUEIL VERSION MOBILE */
.apercu-chambres{
    min-height: 100vh;
    padding: 50px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.titre-apercu-chambres{
    color: var(--dark-font);
    text-decoration: none;
    padding: 30px;
}
.details-apercu-chambre{
    display: flex;
}
.details-apercu-chambre a{
    text-decoration: none;
    color: var(--dark-font);
}

.carte-chambre{
    max-height: 250px;
    box-shadow: 0px 3px 9px 1px rgba(29, 28, 28, 0.356);
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    overflow: hidden;
} 
.carte-chambre img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
    
.prix-chambre-par-nuit{
    width: 100%;
    text-align: left;
}
.options-chambre-hover {
    opacity: 0;
    transition: 0.3s;
}
    
/* SECTION PDB */
.pdb{
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 3px 9px 1px rgba(29, 28, 28, 0.356); */
}
.pdb img{
    width: 100%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    margin-bottom: 30px;
}
.credit{
    font-size: 8px;
    padding: 10px;
    text-align: center;
    color: var(--hover);
}
.pdb h2{
    text-align: center;
    color : var(--white);
    position: absolute;
    z-index: 1;
    top: 170px;
    left: 30px;
    font-size: 70px;
}
.pdb p, .mascotte p{
    text-align: justify;
    /* background-color: red; */
    padding-left: 40px;
    padding-right: 40px;
    line-height: 1.8em;
}

/* SECTION CONTACT */
.contact{
    width: 100%;
    height: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 9px 15px -3px rgba(0, 0, 0, 0.419);
    background: url('../img/leaf.png') no-repeat;
    background-position: right bottom;
}
.cadre{
    width: 100%;
    height: 100%;
    padding: 20px;
    border: 1px solid rgb(4, 94, 21);
}
.infos-contact, .form-contact{
    width: 90%;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #ffffffd8;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.form-contact{
    display: flex;
    flex-direction: column;
}
.form-contact button{
    margin-top: 10px;
}
.form-contact input, .form-contact textarea{
    padding: 5px;
    border-radius: 3px;
}
.infos-contact span{
    width: 5px;
    height: 5px;
    margin-right: 10px;
}
.contact-row{
    display: flex;
    align-items:start;
    justify-content: left;
    padding: 10px;
    gap: 20px;
}

/* SECTION MASCOTTE */
.mascotte{
    background: linear-gradient(rgba(255, 255, 255, 0.679), rgba(255, 255, 255, 0.915)), url('../img/flowers-bg.jpg');
    box-shadow: inset 0px 9px 15px -3px rgba(0, 0, 0, 0.419);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mascotte h3{
    font-family: 'Licorice';
    font-size: 50px;
    text-align: center;
}
.mascotte-img-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mascotte img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

/* LOGIN/REGISTRATION*/
.login, .registration{
    width: 100%;
    min-height: 80vh;
    padding: 50px;
    position: absolute;
    top: 50px;
}
.submit-button{
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}
.login a, .registration a{
    color: var(--hover);
}
#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border: none;
    background-color: rgba(255, 255, 255, 0.374);
    color: var(--dark-font);
    border-radius: 100%;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    z-index: 5;
}
#scrollToTopBtn:hover{
    color: var(--hover);
}

/* Mobile vertical*/
@media (device-height: 932px) and (device-width: 430px), (device-width: 932px) and (device-height: 430px){
    .home-page .description h1{
        font-family: "Licorice";
        font-size: 55px;
    }
}
/* Taille mobile horizontal */
@media (device-height: 430px) and (device-width: 932px){
    /* APERCU DES CHAMBRES SUR LA PAGE D'ACCUEIL VERSION MOBILE */
    .apercu-chambres{
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 50px;
    }
    .titre-apercu-chambres{
        color: var(--dark-font);
        text-decoration: none;
        padding: 30px;
    }
    .details-apercu-chambre a{
        text-decoration: none;
        color: var(--dark-font);
        font-size: 10px;
        padding: 10px;
    }
    .conteneur-cartes-chambre{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .carte-chambre{
        width: 300px;
        justify-content: flex-end
    }
    .carte-chambre img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        /* display: none; */
    }
    .prix-chambre-par-nuit{
        display: none;
    }  

    /* SECTION MASCOTTE */
    .mascotte{
        background: linear-gradient(rgba(255, 255, 255, 0.679), rgba(255, 255, 255, 0.915)), url('../img/flowers-bg.jpg');
        min-height: 100vh;
        box-shadow: inset 0px 9px 15px -3px rgba(0, 0, 0, 0.419);
        padding: 50px;
    }
    .mascotte-img-text{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;    
    }
    .mascotte h3{
        font-family: 'Licorice';
        font-size: 50px;
        text-align: center;
    }
    .mascotte img{
        width: 250px;
        height: 250px;
        object-fit: cover;
        margin-bottom: 30px;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }
}

/* Taille desktop et plus */
@media only screen and (min-width: 992px) {
    .home-page .description h1{
        font-family: "Licorice";
        font-size: 65px;
    }
    .home-page .description{
        font-size: 25px;
    }
    .home-page a:hover{
        color: rgb(253, 215, 0);
        transition: 0.3s;
    }
    .conteneur-cartes-chambre{
        max-width: 100%;
        height:auto;
        display: flex;
        align-items: center;
        gap: 20px;
        overflow: hidden;
    }
    .carte-chambre{
        width: 500px;
        height: auto;
        max-height: 1000px;
        overflow: hidden;
        border-radius: 0;
    }
    
    .carte-chambre img{
        transition: 2s;
        min-width: 100%;
        height: 500px;
        object-fit: cover;
        overflow: hidden;
    }

    .carte-chambre:hover .options-chambre-hover {
        opacity: 1;
        transition: 0.3s;
    }
    
    .options-chambre-hover{
        border-radius: 0;
        padding: 30px;
        width: fit-content;
        max-width: 340px;
        height: 500px;
        font-size: 20px;
        position: absolute;
        color: var(--white);
        background-color: rgba(0, 0, 0, 0.351);
    }

    .options-chambre-hover .cadre{
        width: 100%;
        height: 100%;
        padding: 50px;
        border: 3px solid rgb(255, 255, 255);
    }

    .details-apercu-chambre{
        padding: 10px
    }

    .pdb{
        display: flex;
        align-items: center;
        width: 100%;
        padding: 50px;
        flex-direction: row-reverse;
        background: rgb(207, 130, 5);
        background: linear-gradient(0deg, rgba(176, 114, 14, 0.314) 0%, rgba(67,249,98,0) 90%);
    }

    .pdb p{
        /* width: 50%; */
        padding-right: 70px;
        padding-top: 100px;
        height: 500px;
    }

    .pdb img{
        width: 50%;
        height: 500px;
        object-fit: cover;
    }

    .credit{
        font-size: 10px;
        position: absolute;
        right: 50px;
        bottom: 100px;
    }

    .titre-text{
        display: flex;
        flex-direction: column;
    }

    .titre-text h2{
        color: var(--dark-font);
        top: 100px;
        left: 150px;
    }

    
    /* SECTION CONTACT */
    .contact {
        width: 100%;
        height: 100vh;
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        /* background: url('../img/leaf.png') no-repeat;
        background-position: right bottom; */
    }

    .contact h5{
        font-size: 26px;
    }

    .infos-contact, .form-contact{
        max-width: 50%;
        height: 450px;
        padding: 20px;
        margin-bottom: 30px;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        align-items: left;
    }

    .infos-and-form{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .form-contact button{
        margin-top: 30px;
    }

    .cadre{
        /* width: 100%;
        height: 100%; */
        padding: 50px;
        border: 3px solid rgb(4, 94, 21);
    }
    /*
    .form-contact{
        display: flex;
        flex-direction: column;
    }

    .form-contact input, .form-contact textarea{
        padding: 5px;
        border-radius: 3px;
    }

    .infos-contact span{
        width: 5px;
        height: 5px;
        margin-right: 10px;
    }

    .contact-row{
        display: flex;
        align-items:start;
        justify-content: left;
        padding: 10px;
        gap: 20px;
    } */
    /* SECTION MASCOTTE */
    .mascotte{
        background: linear-gradient(rgba(255, 255, 255, 0.679), rgba(255, 255, 255, 0.915)), url('../img/flowers-bg.jpg');
        min-height: 100vh;
        box-shadow: inset 0px 9px 15px -3px rgba(0, 0, 0, 0.419);
        padding: 50px;
    }
        
    .mascotte-img-text{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;    
    }
/*
    .mascotte h3{
        font-family: 'Licorice';
        font-size: 50px;
        text-align: center;
    }
  */  
    .mascotte img{
        max-width: 50%;
        width: auto;
        height: auto;
        max-height: 500px;
        object-fit: cover;
        margin-bottom: 30px;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }

    .mascotte p{
        max-width: 50%;
        width: 500px;
        padding: 50px;
    }
}

/* Breakpoint 1 : Smartphone */
@media screen and (min-width: 360px) and (max-width: 767px) {
    /* Styles pour la zone de contenu (ZC) */
    .zone-de-contenu {
        width: 360px;
    }
}

/* Breakpoint 2 : Tablette Portrait - PC avec navigateur fenêtré */
@media screen and (min-width: 768px) and (max-width: 999px) {
    /* Styles pour la zone de contenu (ZC) */
    .zone-de-contenu {
        width: 700px;
    }
}

/* Breakpoint 3 : Tablette Paysage - PC Laptop - Tout PC avec navigateur fenêtré */
@media screen and (min-width: 1000px) and (max-width: 1279px) {
    /* Styles pour la zone de contenu (ZC) */
    .zone-de-contenu {
        width: 960px;
    }
}

/* Breakpoint 4 : PC Full HD - Tablette grand format Paysage - Tout PC à plus haute définition avec navigateur fenêtré */
@media screen and (min-width: 1280px) and (max-width: 1599px) {
    /* Styles pour la zone de contenu (ZC) */
    .zone-de-contenu {
        width: 1140px;
    }
}

/* Breakpoint 5 : PC 4K - Tout PC à plus haute définition avec navigateur fenêtré (Au delà de 1600px) */
@media screen and (min-width: 1600px) {
    /* Styles pour la zone de contenu (ZC) */
    .zone-de-contenu {
        width: 1140px; /* ou 1350px selon la définition spécifiée */
    }
}