
/* ALENTOURS */
/* @media (device-height: 932px) and (device-width: 430px), (device-width: 932px) and (device-height: 430px) { */

    ul{
        list-style-type: none;
    }

    .alentours, .edit-alentours{
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        padding: 50px;
    }

    .alentours h1{
        width: 100%;
        /* background-color: yellow; */
    }

    .alentours ul{
        /* background-color: red; */
        display: block;
        padding: 50px;
        margin-top: 30px;
        position: absolute;
        top: 80px;
    }

    .alentours li{
        text-align: justify;
    }

    .alentours .image-sortie{
        width: 330px;
        margin-bottom: 10px;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }

    .credit{
        font-size: 10px;
        color: grey;
    }

    .alentours a{
        color: var(--hover);
        text-decoration: underline;
    }
    
@media only screen and (min-width : 1224px){
    .alentours h1{
        /* display: flex; */
        text-align: center;
    }
    .alentours ul li{
        display: flex;
        gap: 150px;
    }

    .titre-texte-tarif-alentours{
        max-width: 50%;
    }

    .img-credit-alentours{
        width: 50%;
        display: flex;
        flex-direction: column;
    }
}
/* } */