/* SECTION AVIS */
/* @media (device-height: 932px) and (device-width: 430px), (device-width: 932px) and (device-height: 430px) { */
    .section-avis{
        min-height: 100vh;
        width: 100%;
        padding: 130px 50px 50px 50px;
        position: relative;
    }

    .evaluation{
        padding: 15px;
        border-radius: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: 0px 3px 9px 1px rgba(29, 28, 28, 0.356);
    }

        /* Ajoutez ces styles pour masquer les évaluations et les afficher en grisé */
    .evaluation-masquee {
        display: none;
        color: #888888; /* Couleur grise */
    }

    /* Ajoutez ces styles pour le bouton "Réafficher" */
    #reafficher-evaluations {
        margin-top: 10px;
        cursor: pointer;
        color: #007BFF; /* Couleur bleue, ajustez selon vos préférences */
    }

/* } */