@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Licorice&display=swap');

:root {
    --dark-brown: #372412;
    --font-color: #1E1E1E;
    --box-shadow: rgb(78, 77, 77);
    --white: rgb(255, 255, 255);
    --hover:#FFA800;
    --clear-card: rgba(195, 105, 20, 0.106);
}

*{
    margin:0;
    font-family: "ABeeZee";
}

body{
    position: relative;
}

/* Messages add flash */
.flashes{
    position: absolute;
    top: 70px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.659);
    z-index: 2;
}

.licorice-title{
    font-family: 'Licorice';
    font-size: 40px;
}

.langages{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    background-color: var(--dark-brown);
    z-index: 2;
}

.parallax-home, .espaces, .details-espace, .apercu-chambres, .contact, .reservation-form, .selection-sejour{
    width: 100%;
    min-height: 100vh;
}

footer{
    position: absolute;
    bottom: 0;
    height: 50px;
    display: flex;
    text-align: center;
}

.burger-icon {
    display: none;
    /* display: block; */
    cursor: pointer;
}

.logo-burger{
    display: none;
}

.user-menu{
    display: none;
}

/* @media (device-height: 932px) and (device-width: 430px), (device-width: 932px) and (device-height: 430px) { */
    
    nav {
        position: fixed;
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
        z-index: 3;
    }
    
    .icon-name{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 10px;
    }
    .icon-name i{
        font-size: 20px;
    }

    .langages{
        position: fixed;
        z-index: 5;
    }

    .langages img{
        width: 10px;
    }

    .burger-icon {
        display: block;
        padding-left: 20px;
    }

    .logo{
        display: none;
    }

    .logo-burger{
        width: 100%;
        display: block;
        text-align: 
        center;
    }

    .logo-burger li a{
        text-decoration: none;
        font-family: "Licorice";
        font-size: 30px;
        color: var(--font-color);
    }

    .logo-burger li{
        list-style-type: none;
        font-size: 10px;
    }

    ul {
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color:var(--white);
        padding: 15px;
        box-sizing: border-box;
        display: none;
        text-align: center;
        z-index: 2;
    }

    ul.active {
        display: flex;
        z-index: 3;
    }

    ul li {
        margin-bottom: 25px;
    }

    ul a {
        color: var(--font-color);
        text-decoration: none;
        font-size: 16px;
    }
    
    .user{
        padding-right: 20px;
        font-size: 25px;
    }
    .user i{
        position: fixed;
    }

    .user p{
        font-size: 10px;
        background-color: blue;
    }
    
    .user a{
        display: none;
    }
    
    .user li, .user-menu li{
        list-style-type: none;
    }
    .user-menu {
        display: none;
        position: fixed;
        top: 70px;
        right: 0;
        width: 100%;
        background-color: var(--white);
        text-align: center;
        z-index: 3; 
    }
    
    .user-menu.active {
        display: block;
    }
    
    .user-menu.active li{
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .user-menu.active a{
        text-decoration: none;
        color: var(--font-color);
    }

    footer{
        position: static;
        width: 100%;
        height: auto;
        padding: 10px;
        font-size: 15px;
        color: var(--white);
        background-color: var(--dark-brown);
        bottom: 0;
        z-index: 10;
    }

    footer a, footer p{
        padding-left: 30px;
        text-align: center;
        color: var(--white);
    }
/* } */

@media only screen and (min-width : 1224px){

    header{
        display: flex;
    }

    nav{
        width: 100%;
        position: fixed;
        height: 20px;
        display: block;
    }
    
    nav ul {
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 30px;
        position: absolute;
        top: 10px;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
        justify-content: center;
    }

    ul li{
        list-style-type: none;
        padding-left: 50px;
    }

    ul a:hover{
        color: var(--hover);
        transition: 0.3s;
    }
    
    .logo h1{
        font-family: 'Licorice';
        padding: 0;
        margin: 0;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .logo li a{
        font-size: 8px;
    }

    .logo li{
        margin: 0;
    }

    .user-menu, .burger-icon, .logo-burger{
        display: none;
    }

    .user, .logo{
        display: block;
    }
}