/* CHAMBRES ET ESPACES DE VIE */
/* @media (device-height: 932px) and (device-width: 430px), (device-width: 932px) and (device-height: 430px) { */
    #booking-button{
        margin: 20px;
        padding: 10px;
        font-size: 20px;
    }

    .espaces-section{
        width: 100%;
        min-height: 100vh;
        position: relative;
        margin-top: 60px;
    }
    
    .action-espace{
        color: var(--hover);
        position: absolute;
        top: 60px;
        right: 100px;
    }

    .container-actions-espace{
        display: flex;
        z-index: 5;
        position: absolute;
        top: 0;
        right: 0;
    }

    .action-espace-admin{
        color: var(--white);
        padding: 15px;

    }
    .espaces-section h1{
        padding: 45px;
        font-size: 40px;
    }
    
    .espaces-liste{
        /* position: absolute; */
        top: 150px;
    }
/*     
    .espace-illustration{
        width: 100%;
        max-height: 150px;
        object-fit: cover;
        position: absolute;
    } */
    
    .espace{
        width: 90%;
        height: 250px;
        margin-top: 30px;
        margin-left: 25px;
        margin-bottom: 30px;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
        overflow: hidden;
        position: relative;
    }
    
    .espace img{
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover;
    }
    
    .nom-espace{
        width: 90%;
        height: 250px;
        color: var(--white);
        /* border-radius: 5px; */
        background-color: rgba(22, 22, 22, 0.4);
        position: absolute;
        font-size: 30px;
        text-align: center;
        text-decoration: none;
        font-weight: 600;
        /* text-transform: uppercase; */
        padding-top: 80px;
    }
    
    /* Détail espace */
    .detail-espace{
        width: 100%;
        min-height: 100vh;
        padding: 100px 40px 40px 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .detail-espace h1{
        font-family: 'Licorice';
        font-size: 40px;
        text-align: center;
    }
    
    .detail-espace img{
        width: 100%;
        border-radius: 5px;
        margin-bottom: 15px;
        box-shadow: 0px 3px 9px 1px rgba(29, 28, 28, 0.356);
    }

    .detail-espace p{
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: justify;
    }

    .detail-espace h3{
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .evaluation{
        padding: 15px;
        border-radius: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: 0px 3px 9px 1px rgba(29, 28, 28, 0.356);
    }
    
    .infos-techniques-espace{
        font-size: 20px;
    }

    /* Formulaire espace */
    .formulaire-espace{
        min-height: 100vh;
        width: 100%;
        padding: 130px 50px 50px 50px;
    }
/* } */
    .autres-espaces{
        display: none;
    }

@media (device-height: 430px) and (device-width: 932px){

    .espaces-section{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .espaces-liste{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/* Taille desktop et + */
@media only screen and (min-width : 992px){

    /* Index espaces, page de choix */
    .espaces-section{
        display: flex;
        justify-content: center;
        flex-direction: column;
        /* flex-wrap: wrap; */
        min-height: 100vh;
        width: 100%;
        padding-bottom: 10;

    }

    .espaces-section h1, .espaces-section h2{
        text-align: center;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .espaces-liste{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 60px;
        padding-bottom: 50px;
    }
    
    .chambres-liste{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 60px;
        padding-bottom: 150px;
    }

    .espace, .nom-espace, .espace img{
        width: 200px;
        height: 200px;
        border-radius: 0;
    }

    .nom-espace{
        transition: 0.5s;
        font-size: 20px;
    }

    .nom-espace:hover{
        transition: 0.5s;
        color: var(--white);
        background-color: rgba(0, 0, 0, 0.07);
    }

    /* Détails d'un espace */
    .details-espace{
        min-height: 100vh;
        /* display: flex; */
    }

    .caroussel-gauche{
        width: 50%;
    }

    .carousel-item img, .caroussel-gauche img{
        height: 75vh;
        object-fit: cover;
    }

    .carousel-item a{
        color: var(--dark-font);
    }

    .carousel-item a:hover{
        color: var(--hover);
    }

    .haut-de-page{
        width: 100%;
        display: flex;
        align-items:start;
        gap: 60px;
    }

    .haut-de-page h1{
        font-size: 60px;
    }

    .details-espace-droite{
        max-width: 50%;
        max-height: 85vh;
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .infos-techniques-espace{
        display: flex;
        align-items: center;
        gap: 15px;
        text-align: center;
    }

    .return-button{
        position: absolute;
        top: 100px;
        right: 100px;
        text-decoration: none;
        color: var(--dark-font);
    }

    .return-button:hover{
        color: var(--hover);
    }
    .autres-espaces{
        width: 100%;
        display: flex ;
        gap: 30px;
    }

    .espace-preview, .nom-espace-preview, .espace-preview img{
        width: 100px;
        height: 100px;
        border-radius: 0;
        font-size: 15px;
    }

    .nom-espace-preview{
        color: var(--white);
        background-color: rgba(22, 22, 22, 0.4);
        position: absolute;
        text-align: center;
        text-decoration: none;
        font-weight: 600;
        padding-top: 30px;
        transition: 0.3s;
    }
    .nom-espace-preview:hover{
        background-color: rgba(22, 22, 22, 0.06);
        transition: 0.3s;
        color: var(--white);
    }

    .autres-espaces-title{
        padding-top: 10px;
    }

    .admin-actions{
        position: absolute;
        display: flex;
        top: 90px;
        right: 250px;
        gap: 50px;
    }

    .admin-actions a, .delete-img{
        text-decoration: none;
        color: var(--dark-font);
        transition: 0.3s;
    }

    .admin-actions a:hover, .delete-img:hover{
        text-decoration: none;
        color: var(--hover);
        transition: 0.3s;
    }
}    