/* CHAMBRES ET ESPACES DE VIE */
/* @media (device-height: 932px) and (device-width: 430px), (device-width: 932px) and (device-height: 430px) { */
    .espaces-section{
        width: 100%;
        min-height: 100vh;
        position: absolute;
        top: 60px;
    }
    
    .action-espace{
        color: var(--hover);
        margin: 20px;
    }
    
    .espaces-section h1{
        padding: 45px;
        /* position: absolute; */
        /* font-family: 'Licorice'; */
        font-size: 40px;
        /* top: 50px; */
        /* left: 30px; */
    }
    
    .espaces-liste{
        position: absolute;
        top: 150px;
    }
/*     
    .espace-illustration{
        width: 100%;
        max-height: 150px;
        object-fit: cover;
        position: absolute;
    } */
    
    .espace{
        width: 90%;
        height: 250px;
        margin-top: 30px;
        margin-left: 25px;
        margin-bottom: 30px;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
        overflow: hidden;
    }
    
    .espace img{
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover;
    }
    
    .nom-espace{
        width: 90%;
        height: 250px;
        color: var(--white);
        /* border-radius: 5px; */
        background-color: rgba(22, 22, 22, 0.4);
        position: absolute;
        font-size: 30px;
        text-align: center;
        text-decoration: none;
        font-weight: 600;
        /* text-transform: uppercase; */
        padding-top: 80px;
    }
    
    /* Détail espace */
    .detail-espace{
        width: 100%;
        min-height: 100vh;
        padding: 100px 40px 40px 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .detail-espace h1{
        font-family: 'Licorice';
        font-size: 40px;
        text-align: center;
    }
    
    .detail-espace img{
        width: 100%;
        border-radius: 5px;
        margin-bottom: 15px;
        box-shadow: 0px 3px 9px 1px rgba(29, 28, 28, 0.356);
    }

    .detail-espace p{
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: justify;
    }

    .detail-espace h3{
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .evaluation{
        padding: 15px;
        border-radius: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: 0px 3px 9px 1px rgba(29, 28, 28, 0.356);
    }
    
    .infos-techniques-espace{
        font-size: 20px;
    }

    /* Formulaire espace */
    .formulaire-espace{
        min-height: 100vh;
        width: 100%;
        padding: 130px 50px 50px 50px;
    }
/* } */

@media (device-height: 430px) and (device-width: 932px){

    .espaces-section{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .espaces-liste{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/* Taille desktop et + */
@media only screen and (min-width : 1224px){

    /* Index espaces, page de choix */
    .espaces-section{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .espaces-section h1{
        text-align: center;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .espaces-liste{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-direction: row;
        gap: 60px;
    }

    .espace, .nom-espace, .espace img{
        width: 200px;
        height: 200px;
        border-radius: 0;
    }

    .nom-espace{
        transition: 0.5s;
        font-size: 20px;
    }

    .nom-espace:hover{
        transition: 0.5s;
        background-color: rgba(255, 0, 0, 0);
    }

    /* Détails d'un espace */
    
}    