.section-reservation{
    width: 100%;
    position: absolute;
    min-height: 50vh;
    margin-top: 70px;
    top: -30px;
}

.reservation-form{
    padding-left: 50px;
    padding-right: 50px;
}

.section-reservation h1{
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

/* Taille mobile */
@media (device-height: 932px) and (device-width: 430px), (device-width: 932px) and (device-height: 430px){
    .section-reservation{
        background-size: 100%;
        background-image: linear-gradient(rgba(239, 232, 218, 0.57), rgba(255, 255, 255, 0.608)), url("../../img/guirlande.png");
        background-repeat: no-repeat;
    }
}

/* Taille desktop et + */
@media only screen and (min-width : 1224px){
    .section-reservation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: 100%;
        background-image: linear-gradient(rgba(255, 255, 255, 0.849), rgba(255, 235, 189, 0.508)), url("../../img/leaf.jpg");
        background-repeat: no-repeat;
        object-fit: cover;
    }
    
    .reservation-form {
        flex-wrap: wrap;
        padding-left: 350px;
        padding-right: 350px;
        padding-top: 60px;
        width: 50%;
        height: auto;
    }
    
    .reservation-form .form-group {
        flex: 1 1 100%; /* Each form group takes full width */
    }

    .name-group,
    .date-group {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 30px;
    }

    .name-group .form-group {
        flex: 1 1 48%; /* Set each form group in the name-group to take up roughly half the width */
    }

    .date-group .form-group {
        flex: 1 1 48%; /* Set each form group in the date-group to take up roughly half the width */
    }

    .reservation-form .form-group input[type="checkbox"] {
        transform: scale(1.5); /* Adjust the scale factor as needed */
        margin: 10px
    }

    .section-coordonnees{
        display: flex;
        justify-content: center;
        align-items:center;
        background-size: 100%;
        background-image: linear-gradient(rgba(255, 255, 255, 0.849), rgba(255, 235, 189, 0.508)), url("../../img/leaf.jpg");
        background-repeat: no-repeat;
        object-fit: cover;
    }
    
    .resume-reservation{
        width: 50%;
        padding: 50px;
        margin-left: 100px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        background-color: var(--white);
        border: 1px solid green;
    }

    .liste-options{
        height: auto;
    }
}