.conditions-generales, .mentions-legales{
    width: 100%;
    padding: 100px 50px 50px 50px;
    min-height: 100vh;
    text-align: justify;
}

#accessibilite, #politique-confidentialite{
    padding: 40px;
}