/* SECTION PROFIL */
    .profil, .registration, .login{
        min-height: 100vh;
        position: relative;
    }

    .profil h1{
        margin-bottom: 50px;
    }

    .registration a, .login a{
        color: var(--hover);
    }

    .action{
        border: 3px solid yellow;
    }

    .reservations-user{
        border: 3px solid red;
    }

    .boutons-reservations-user{
        display: flex;
        flex-direction: column;
        font-size: 20px;
        gap: 50px;
    }

    .boutons-reservations-user a{
        text-decoration: none;
        color: var(--dark-font);
        border-radius: 3px;
        padding: 15px;
        box-shadow: 0px 3px 9px 1px rgba(29, 28, 28, 0.356);
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .admin-bouton{
        background-color: var(--clear-card);
    }

    .rappel{
        /* background-color: red; */
        padding: 20px;
        margin-bottom: 30px;
        box-shadow: 0px 3px 9px 1px rgba(129, 125, 125, 0.356);
    }

    .profil h6{
        font-size: 20px;
    }

    .questions_pratiques{
        display: block;
        text-align: justify;
    }   

    @media (device-height: 932px) and (device-width: 430px), (device-width: 932px) and (device-height: 430px) {
        .profil, .registration, .login{
            padding: 120px 50px 50px 50px;
        }  
    }

    /* Taille desktop et + */
    @media only screen and (min-width : 1224px){
    .registration h1, .login h1, .registration p, .login p{
        color: var(--white);
    }

    .registration form, .login form{
        padding:  50px 450px 0 450px;
        color: var(--white);
    }

    .registration input, .login input{
        margin-bottom: 30px;
    }

    .registration p, .login p{
        padding:  50px 450px 0 450px;
    }

    .registration, .login{
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/login.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }

        .questions-h1{
            display: block;
            padding-top: 30px;
        }
        .questions_pratiques{
            display: block;
            text-align: justify;
            padding-bottom: 100px;
            padding-right: 50px;
        }

        .profil, .registration, .login{
            padding: 120px 50px 50px 50px;
        }  
    }