
body{
    position: relative;
}

nav{
    position: sticky;
    top: 10px;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

ul a{
    text-decoration: none;
}

.parallax-home, .espaces, .details-espace, .apercu-chambres, .contact, .reservation-form, .selection-sejour{
    width: 100%;
    min-height: 100vh;
}

footer{
    position: absolute;
    bottom: 0;
    height: 50px;
    display: flex;
}