{% extends 'base.html.twig' %}

{% block title %}Choix utilisateur{% endblock %}

{% block body %}
    <h1>Poursuivre...</h1>
    <p>En tant qu'invité</p>
    <a href="{{ path('new_coordonnees', {'reservation' : reservation.id }) }}">POURSUIVRE</a>
    <hr>
    <p>En me connectant</p>
    <a href="{{ path('app_login')}}">CONNEXION</a>
{% endblock %}
