{% extends 'base.html.twig' %}

{% block title %}Choix utilisateur{% endblock %}

{% block body %}
    <h1>Poursuivre...</h1>
    <p>En tant qu'invité</p>
    <a href="">POURSUIVRE</a>
    <hr>
    <p>En me connectant</p>
    <a href="">CONNEXION</a>
{% endblock %}