{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <h1>Profil utilisateur</h1>

    <p>Liste des réservations</p>
    <p>Paramètres</p>
    <p>Vos informations :</p>
    <p>Pseudo / Modifier pseudo</p> <!--https://github.com/davinahouquet/Sessions/commit/4b51a8dcf9c40c5d0936bd6865269240a373fe70-->
    <p>Email / Modifier l'email</p> <!--https://github.com/davinahouquet/Sessions/commit/8e53ed4675b1f1a7648ab7589f91c9c458244d41-->
    <p>Mot de passe / Modifier mot de passe</p> <!--https://github.com/davinahouquet/Sessions/commit/d3bf4b739a1f467a335b6f707b4dbdda41df4e56-->
    <p>Supprimer mon compte</p>
{% endblock %}
